//colors
$primary-color-dark:  #388e3c;
$primary-color: #4caf50;
$primary-color-light: #c8e6c9;
$primary-color-text:  #fff;
$accent-color:  #448aff;
$primary-text-color:  #212121;
$secondary-text-color:  #727272;
$divider-color: #b6b6b6;

$img-overlay: rgba(0, 0, 0, .5);

//mq settings
$mq-breakpoints: (
    medium: 40.0625em,
    large: 64.0625em,
);
